<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qian.weeno"
    android:versionCode="201304"
    android:versionName="0.0.1" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />

    <permission
        android:name="com.qian.weeno.permission.WRITE_NOTE"
        android:description="@string/permission_write"
        android:label="@string/permission_write"
        android:protectionLevel="normal" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.SET_TIME_ZONE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/weeno_icon"
        android:label="@string/app_name" 
        
        android:theme="@style/Theme.Sherlock"
        android:hardwareAccelerated="true">
        
        <!-- android:logo="@drawable/actionbar_logo" -->
        
        <activity
            android:name="com.qian.weeno.ui.HomeActivity"
            android:label="@string/app_name" 
            >

            <!-- android:theme="@style/Theme.Iosched.Home" -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".ui.phone.NoteDetailActivity"
            android:label="@string/title_note_detail"
            android:uiOptions="splitActionBarWhenNarrow" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.item/vnd.weeno.key" />
            </intent-filter>
            <!-- PARENT_ACTIVITY alone is insufficient for Up navigation for this activity -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.phone.NoteDetailActivity" />
        </activity>

        <!-- Data, sync and schedule editing components -->

        <provider
            android:name="com.qian.weeno.provider.NoteProvider"
            android:authorities="com.qian.weeno"
            android:label="@string/app_name"
            android:syncable="true"
            android:writePermission="com.qian.weeno.permission.WRITE_NOTE" />

        <service android:name=".service.KeyAddService" />
    </application>

</manifest>